{
  "apiKey": "",
  "secret": "",
  "telegramUserId": 00000000,
  "marketPlace": "BTC",
  "useFundPercentage": 20,
  "takeProfitPct": 1.5,
  "stopLossPct": 1.5,
  "useStableMarket": true,
  "stableMarket": "USDT",
  "timeOrder": 45,
  "timeFrame": "30m",
  "timeFrameStableMarket": "1h",
  "exchangeID": "binance"
}